.home{
    background-color: $amarelo;
}

.banner-home{
    height: 75%;
    background-color: $azul;
    padding: 50px 0px 0px 0px ;
    margin-bottom: 20%;
    article img{
        &:first-child{
            margin-bottom: -100px;
            display: block;
            position: relative;
            z-index: 999;
            @media (max-width: 700px){
                max-width: 90%;
            }
        }
    }
}


.video-banner{
    iframe{
        width: 100% !important;
    }
    @media (max-width: 700px){
        margin-top: 40%;
    }
}

.vem-pro-bonde{
    h1{
        font-size: 30px;
        color: $azul-escuro;
    }
    margin: 80px 0px;

}

button{
    border: solid 2px #fff;
    padding: 10px 30px;
    border-radius: 30px;
    background: transparent;
    width: fit-content;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: $azul-escuro;
    }
}


.engov-after-home, .engov-home{
    .box-produto{
        h2{
            font-size: 3em;
            line-height: 34px;
            color: #fff;
            padding: 20px 0px;
            @media (max-width: 700px){
                line-height: 48px;             
            }
        }
        span{
            font-size: 24px;
        }  
    }
}

.engov-after-home{
    .logo-engov-after{
        margin: -50px 0px;
        z-index: 999;
    }
    .box-produto{
        margin-top: -70px;
        padding: 200px 0px 100px 0px;
        background-color: $laranja;
    }
}

.engov-home{
    margin-top: 200px;
    .box-produto{
        padding: 100px 0px 100px 0px;
        background-color: $azul-escuro;  
    }
}

.engov-after-home, .engov-home{
    .box-produto{
        img{
            max-width: 100%;
            @media (max-width: 700px){
                max-width: 90%;
            }
        }
    }
}


.canais-home{
    h3{
        font-size: 30px;
        color: $azul-escuro;
    }
    ul{
        margin-top: 20px;
        li img{
            @media (max-width: 700px){
                max-width: 90%;
            }
        }
    }
    article{
        margin: 100px 0px;
    }
}

footer{
    background-color: $verde;
    margin-top: -200px;
    padding: 300px 0px 100px 0px;
    .dengue{
        color: #fff;
        background-color: #000;
    }
    .logo-footer img{
        @media (max-width: 700px){
            max-width: 90%;
        }
    }
    
}
